<h1>All Issues</h1>
<ngb-accordion [closeOthers]="true" activeIds="static-0">
  <ngb-panel *ngFor=" let issue of issues$ | async; let index = index" id="static-{{index}}" title="{{issue.title}}">
    <ng-template ngbPanelTitle>


      <span>Responsible: {{issue.responsible}}</span>
      <span>Issue created by: {{issue.createdBy.username}}</span>
      <span [ngStyle]="{'background-color':issue.severity === 'high' ? 'red' : '' }">Severity: {{issue.severity}}</span>
      <span>Description: {{truncateDesc(issue.description)}}</span>
      <span>Status: {{issue.status}}</span>

    </ng-template>
    <ng-template ngbPanelContent>
      <p>Full Description: {{issue.description}}</p>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
